.row-head {
  font-size: small;
  font-weight: bold;
}

.row-head-first {
  width: 50%;
  font-size: small;
  font-weight: bold;
}

.title-accordion-text .accordion-button {
  font-weight: 500 !important;
  font-size: 1.285rem !important;
}
